.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainApp {
  padding-top: 50px;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.skillCards {
  height: 36px;
  text-align: center;
  padding: 10px;
}

.selectPaper {
  padding: 10px;
  margin-bottom: 10px;
}

.brandColor {
  background-color: #24292e;
}

.badgeCountPaper {
  min-height: 80px;
  position: relative;
  border-radius: 3%;
}

.badgeCount {
  position: absolute;
  top: 28%;
  left: 46%;
  margin: 0;
}

.navHeader {
  font-family: 'Raleway Black', Arial, sans-serif;
}

.hofBackground {
  background-color: rgb(135, 58, 199) !important;
}

.goldBackground {
  background-color: rgb(255, 215, 0) !important;
}

.silverBackground {
  background-color: rgb(192, 192, 192) !important;
}

.bronzeBackground {
  background-color: rgb(205, 127, 50) !important;
}
